.section {

	margin-bottom: 16px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
	&__header {
		color: #733838;
		background: var(--backgroundColor);
		margin-left: 64px;
		width: 100%;
		margin: 12px auto;
		padding-left: 30px;
		display: flex;
		justify-content: center;
		font-size: 1rem;

		&___image {
			max-width: 100%;
			display: block;
		}
	}
}
