 h1 {
 	color: darkgreen;
 }

 h2 {
 	color: #941489;
 }

 h3 {
 	color: rgb(160, 143, 16);
 	background: #82ed51;
 }

 section {
 	background: #4dd3af;
 }

.czerwony {
	color: red;
}

#szkolenie {
	color:yellow;
}

a {
	color: green;
}

section a {
	color: inherit;
}

.my-article {
	color: hotpink;
}

.my-article p {
	background: #1460AA;
	color: white;
}

.about {
	color: #91177f
}