html {
	box-sizing: border-box;
}

*, *:before, *:after{
	 box-sizing: inherit;
}

h1 {
 	color: darkgreen;
 }

 h2 {
 	color: #941489;
 }

 h3 {
 	color: rgb(160, 143, 16);
 	background: #82ed51;
 }

 section {
 	background: #4dd3af;
	padding: 16px;
 }

.czerwony {
	color: red;
}

#szkolenie {
	color:yellow;
	padding: 16px;
}

a {
	color: green;
}

section a {
	color: inherit;
}

.my-article {
	color: hotpink;
}

.my-article p {
	background: #1460AA;
	color: white;
}

.about {
	color: #91177f
}

footer{
	padding: 16px;
}

header {
}

.navigation {
	background: blue;
	padding: 16px;
}

.navigation__link {
	color: white;
}

.section {
	background: #453e49;
	margin-bottom: 16px;
}

.section__header{
	color: #965353;
	margin-left: 64px;
}

.section__header--special{
	color: tomato;
}